coverage==5.3
detect-secrets==v0.13.1
flake8==3.8.4
Flask==1.1.2
gunicorn==20.0.4
hypothesis==5.37.1
pre-commit==v2.7.1
pre-commit-hooks==4.1.0
pytest==6.1.1
pytest-env==0.6.2
pytest-mock==3.3.1
pytest-xdist==2.1.0
requests==2.24.0
setuptools==50.3.0
Werkzeug==1.0.1
